<div ng-show="article.uid && originalSettings && !article.presentationOnly">
  <div class="row tws-article-quantity--input-row">
    <div class="form-group col-md-5 tws-article-quantity--input-wrapper"
      ng-class="{'has-error': ngModel.$dirty && ngModel.$invalid, 'has-success': ngModel.$dirty && ngModel.$valid }">
      <label class="control-label">{{::gettext('Quantity')}}</label>
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default"
                  ng-click="dec()"
                  type="button">-</button>
        </span>
        <input type="number"
               name="quantity"
               ng-max="settings.maximum"
               ng-min="settings.minimum"
               step="{{ settings.divisibleBy || 'any'}}"
               class="form-control"
               required
               tws-article-validate-step
               ng-model="model.quantity">
        <span class="input-group-btn">
          <button class="btn btn-default"
                  ng-click="inc()"
                  type="button">+</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row tws-article-quantity--help-block">
    <div class="col-sm-12 help-block">
      <span ng-show="ngModel.$error.step">{{ ::gettext('This value doesn\'t have the right number of decimals.') }}</span>
      <span ng-show="ngModel.$error.min">{{ ::gettext('This value is too small.') }}</span>
      <span ng-show="ngModel.$error.max">{{ ::gettext('This value is too large.') }}</span>
      <span ng-show="ngModel.$error.required">{{ ::gettext('This is required.') }}</span>
      <span ng-show="ngModel.$error.number">{{ ::gettext('Invalid value.') }}</span>
    </div>
  </div>
</div>
